body{
    background-color: #dfdfeb;
  
}
header{
    background-color: #313ef7;
    width: 100%;
    padding: 10px; 
    height:150px;
}
footer{
    background-color: #313ef7;
    width: 100%;
    padding: 5px; 
    height:40px;
}
#logo{
    width:145px;
    height:145px;
    float:left; 
    margin-top:0;
}
h1{
    margin-top:0;
    width:100%; 
    color: darkblue;
    background-color: #dfdfeb;
    text-decoration: underline;
    font-size: 50px;
}
#line{
    border-bottom:1px solid #dfdfeb;
}
nav {
    margin: 0 auto; 
    max-width: 960px;
    padding:5px;
}
.nv {
    list-style-type:none;
    text-align: center;
}
.rd {
    font-size: 35px;
    color: #dfdfeb;
}
.st { 
    float:left;
    
}
.nd { 
    float: right;
    margin-right: 20px;
}
a{
    color:#800e34;
}
a:hover{
  color: #000000;
}
a:visited{
    color: darkblue;
}
h3{  
    margin:5px;
    font-size:35px;
    color: darkblue;
    text-align: center;
}
ol{
    margin-left: calc(25% - 25px);
  
}
cite {
    font-size:1.2em;
}
blockquote{
    display: block;
    max-width:900px;
    font-size:1.2em;
    font-style: italic;

}
form{
    max-width:960px;
    margin: 0 auto; 
    padding:10px;
    margin-bottom: 10px;
}
fieldset{
    border:1px solid #313ef7;
    background-color: #dfdfeb;
}
#blue {
  border:1px solid darkblue;
  background-color: #313ef7;
  margin-bottom: 10px;
}
.submit {
    margin-top: 5px;
    margin-bottom: 5px;
}
#top {
    margin-top: 10px;
}
.me {
    font-size:1.4em;
    margin:0;
}
table{
    border:1px solid darkblue;
    border-collapse: collapse;
    margin: 0 auto; 
    padding:10px;
    margin-bottom: 10px;
}
td{
    border:1px solid darkblue;
    padding:7px;
}

th{
    border-bottom:1px solid darkblue;
    padding:7px;
    background-color: #313ef7;
    color: #dfdfeb;
}
.long{
    border-left:1px solid darkblue;
    border-right:1px solid darkblue;
}
.even{
    background-color: #edeef8;
}
.comb{
    background-color: #bdbfd1;
}
#bio{
    width:500px;
    height:150px;
}
.fio{
    width:300px;
}
.vr{
    text-align: center;
}